<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/styles.css")
    body
        .app
            .app1
            .app2
            .app3
                .app_col1
                .app_col2
                    .app_col1_A
                    .app_col1_B
            .app4
                .app4_col1
                .app4_col2
                .app4_col3
                .app4_col4
                .app4_col5
            .app5
                .app5_col1
                .app5_col2
                .app5_col3
            .app6
                .app6_col1
                .app6_col2
            .app7
                .app7_col1
                .app7_col2
                .app7_col3
                    .app7_col3_A
                    .app7_col3_B